body{
    background-color:#3c5828;
    color: rgba(0, 0, 0, 0.777);
}

#game {
    width:500px;
    height:500px;
    margin:0 auto;
    background-color:#a9d751;

  }
div{
  color: rgb(13, 11, 11)
}
h2 {
    text-align:center;
    font-family:Arial;
    font-size:36px;
  } 
#scoreboard {
    position: absolute;
    left: 520px; 
    top: 30px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: black;
}